<section>
  <.greet name={@character.name} />

  <hr>
  <.list_stats stats={@character.stats} />

  <hr>
  <.hp hp={@character.hp} />

  <hr>
  <.list_traits :if={@character.traits != []} traits={@character.traits} />

  <hr>
  <.arcana :if={@character.arcana} arcana={@character.arcana} />

  <hr>
  <.list_items :if={@character.items != []} items={@character.items} />

  <hr>
  <.list_weapons weapons={@character.weapons} />
</section>
